{%- assign container = section.settings.container -%}
{%-assign product_faqs = product.metafields.information.faqs.value | reverse | reverse -%}
{%-if product_faqs != blank -%}
<link rel="stylesheet" href="{{ 'component-faqs.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-faqs.css' | asset_url | stylesheet_tag }}</noscript>
<div class="faq-container {% if container == '1170' %}container-1170{% elsif container == '1770' %}container-1770{% elsif container == 'fullwidth'%}container-full{% else %}container{% endif %}">
    <div class="halo-page-content halo-faqs-content scroll-trigger animate--slide-in">
        <div class="faqs product-faqs">
            <div class="faqs-message-and-questions">
                <div class="faqs-questions-and-answers scroll-trigger animate--slide-in">
                    <div class="faqs-paragraph" id="paragraph-pre-saql-questions">
                        <div class="faqs-body">
                            <div class="faqs-row">
                                
                                {%for item in product_faqs %}
                                    <div class="faqs-item scroll-trigger animate--slide-in">
                                        <div class="card"  id="#accordion-{{ forloop.index }}">
                                    <div class="card-header collapsed" id="question-{{ forloop.index }}" data-toggle="collapse" data-target="#collapse-{{ forloop.index }}" aria-expanded="true" aria-controls="collapse-{{ forloop.index }}">
                                        <div class="title" role="button" tabindex="0">
                                            {{ item.title }}
                                        </div>
                                        <span class="icon-plus arrow" role="none"></span>
                                    </div>
                                    <div id="collapse-{{ forloop.index }}" class="collapse" data-parent="#accordion">
                                        <div class="card-body" id="answer-{{ forloop.index }}">
                                            <div class="">
                                                {{ item.description }}
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                                {%endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ 'halo-faqs.js' | asset_url }}" defer></script>

{%-endif -%}
{% schema %} 
    {
        "name": "Product FAQs",
        "class": "section section-product-faq",
        "settings": [
            {
                "type": "select",
                "id": "container",
                "label": "t:sections.layout.container.option",
                "default": "fullwidth",
                "options": [
                    {
                        "value": "container",
                        "label": "t:sections.layout.container.option1"
                    },
                    {
                        "value": "1170",
                        "label": "t:sections.layout.container.option4"
                    },
                    {
                        "value": "1770",
                        "label": "t:sections.layout.container.option3"
                    },
                    {
                        "value": "fullwidth",
                        "label": "t:sections.layout.container.option2"
                    }
                ]
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            }
        
        ],
        "presets": [
            {
                "name": "Product FAQs"
            }
        ]
    }
{% endschema %}